@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Ropa Sans', sans-serif;
}

header {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    padding: 15px 0;
    background-color: #fff;
}

.container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

header .logo h1{
    color: #777777;
    display: inline-block;
    font-size: 42px;
    font-weight: 300;
    margin: 0;
}
header .logo h2 {
    display: inline-block;
    font-size: 16px;
    color: #AAAAAA;
    font-weight: 300;
    margin: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    background-color: transparent;
    color: #AAAAAA;
    border: none;
    font-size: 35px;
    cursor: pointer;
}


section.banner, .carousel>img {
    width: 100%;
}

section.banner .carousel {
    margin: 50px 0;
    position: relative;
}

section.banner .carousel .controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.banner .carousel .controls button {
    background-color: rgba(170, 170, 170, 0.8);
    border:none;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 20px;
}

section.banner .carousel .controls button img {
    width: 20px;
}

section.lofts .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

section.lofts article {
    width: 350px;
    background-color: #EEEEEE;
}

section.lofts article .thumb {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section.lofts article .info {
    padding: 15px;
}

section.lofts article .info > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.lofts article .price {
    font-size: 30px;
    color: #888888;
    font-weight: 400;
    margin: 5px 0;
}

section.lofts article .tag {
    text-transform: uppercase;
    padding: 3px 15px;
    background-color: #888888;
    color: white;
    font-size: 25px;
    border-radius: 30px;
}

section.lofts article .tag.tag-new{
    background-color: #51D275;
}

section.lofts article .tag.tag-sale {
    background-color: #DC9730;
}


section.styles {
    padding: 50px 0;
}

section.styles h2 {
    font-size: 35px;
    font-weight: 400;
    color: #888888;
    text-align: center;
}

section.styles article {
    width: 100%;
    padding: 50px 25px;
    background-color: #888888;
    margin: 30px 0;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

section.styles article h3 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    background-color:rgba(196, 196, 196, 0.5);
    top:0;
    left:0;
    /* centralizar texto */
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer .social-medias ul {
    list-style: none;
    display: flex;
    padding: 0;
}

footer .social-medias ul li img {
    width: 30px;
    margin: 10px 10px 10px 0;
}